In [1]:
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

load_dotenv()

username = 'rs-assess-adm'  # Include the server name suffix in the username if needed
password = os.getenv("SQL_SERVER_PASSWORD")
server = 'rs-assess-db-server.database.windows.net'
database = 'qialityinspection'

# Create the connection string for a SQL Server database
conn_str = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC Driver 18 for SQL Server'

# Create the engine
engine = create_engine(conn_str)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Create a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Write the DataFrame to a SQL table named 'people'
df.to_sql('people', con=engine, if_exists='replace', index=False, schema = "dummy_schema")

3

In [3]:
df

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago